<div class='card'>
  <div class='card-header'>
    <h2>{{title}}</h2>
  </div>
  <div class='card-body'>
    <p>{{contents}}</p>
    {{#if logged_in}}
    <div class='col-md-4'>
      <button
        class='btn btn-sm editbtn'
        id='edit-{{post.id}}'
        data-id='{{post.id}}'
        data-operation='edit'
      >EDIT</button>
      <button
        class='btn btn-sm btn-danger delbtn'
        id='del-{{post.id}}'
        data-id='{{post.id}}'
        data-operation='delete'
      >
        DELETE
      </button>
    </div>
  </div>
</div>
{{/if}}