<div class='card'>
  <div class='card-header'>
    <h2 class="postTitle">{{title}}</h2>
     <p class="postTitle">Created by
            {{user.name}}
            on
            {{format_date date_created}}</p>
  </div>
  <div class='card-body'>
    <p>{{contents}}</p>
    {{#if logged_in}}
    <style>
        button{
            cursor: pointer;
			margin: 15px 0;
        }
    </style>
    <div class='col-md-4'>
      <div class='form-group'>
              <style>
        button{
            cursor: pointer;
			margin: 15px 0;
        }
    </style>
        <form class='form comment-form'>
      <div class='form-group col-md-12'>
        <input
          class='form-input'
          type='text'
          id='comment-text'
          name='project-name'
        />
      </div><button type='submit' class='btn btn-primary'>Leave A Comment</button>
      </div>
      </form>
      {{#if isMine}}
      <a
        class='btn btn-sm editbtn'
        id='edit-{{id}}'
        data-id='{{id}}'
        data-operation='edit'
         href='/editPost/{{id}}'
      >EDIT</a>
      <div class="delBtn">
        <button
        data-comments='{{comments.length}}'
        class='btn btn-sm btn-danger deletePost'
        data-id='{{id}}'
        data-operation='delete'
      >
        DELETE POST
      </button>
      </div>
      {{/if}}
    </div>
  </div>
  {{> comment comments}}
</div>
{{/if}}

<script src="/js/comment.js"></script>